@page "/personal/dashboard"

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Dashboard</MudText>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Receipt" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Pending Receving</MudText>
                <MudText Typo="Typo.h5">5,000</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Queue" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Pending Put away</MudText>
                <MudText Typo="Typo.h5">299</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Pending picking</MudText>
                <MudText Typo="Typo.h5">1,900</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.EventAvailable" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Complete Order</MudText>
                <MudText Typo="Typo.h5">29,999</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Storage</MudText>
                <MudText Typo="Typo.h5">2,999</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Retrieval</MudText>
                <MudText Typo="Typo.h5">5,999</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.SyncAlt" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total</MudText>
                <MudText Typo="Typo.h5">8,998</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Speed" Color="Color.Warning" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Average Time</MudText>
                <MudText Typo="Typo.h5">00:00:30</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Style="height:400px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Lane 01</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudPaper Class="d-flex py-2 px-1"> 
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-secondary order-2"><MudText Typo="Typo.h6">Use:900</MudText> </MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-info order-3"><MudText Typo="Typo.h6">Empty:100</MudText></MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-1 pa-2 mx-2 mud-theme-primary order-1"><MudText Typo="Typo.h6">Total:1,000</MudText></MudPaper>
            </MudPaper>
            <br />
            <MudChart ChartType="ChartType.Pie" InputData="@data1" @bind-SelectedIndex="Index1" InputLabels="@labels1" Width="200px" Height="200px" />
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Style="height:400px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Lane 02</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudPaper Class="d-flex py-2 px-1">
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-secondary order-2"><MudText Typo="Typo.h6">Use:600</MudText></MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-info order-3"><MudText Typo="Typo.h6">Empty:400</MudText></MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-1 pa-2 mx-2 mud-theme-primary order-1"><MudText Typo="Typo.h6">Total:1,000</MudText></MudPaper>
            </MudPaper>
            <br />
            <MudChart ChartType="ChartType.Pie" InputData="@data2" @bind-SelectedIndex="Index2" InputLabels="@labels2" Width="200px" Height="200px" />
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Style="height:400px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Lane 03</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudPaper Class="d-flex py-2 px-1">
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-secondary order-2"><MudText Typo="Typo.h6">Use:400</MudText></MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-0 pa-2 mx-2 mud-theme-info order-3"><MudText Typo="Typo.h6">Empty:600</MudText></MudPaper>
                <MudPaper Class="flex-grow-1 flex-shrink-1 pa-2 mx-2 mud-theme-primary order-1"><MudText Typo="Typo.h6">Total:1,000</MudText></MudPaper>
            </MudPaper>
            <br />
            <MudChart ChartType="ChartType.Pie" InputData="@data3" @bind-SelectedIndex="Index3" InputLabels="@labels3" Width="200px" Height="200px" />
        </MudCard>

    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudCard Elevation="25" Style="height:500px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Notification</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="px-0">
                <MudSimpleTable Elevation="0" Hover="true">
                    <thead>
                        <tr>
                            <th>Station</th>
                            <th>Priority</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in earningReports.OrderBy(x => x.SeverityTitle))
                        {
<tr>
    <td>
        <div class="d-flex flex-row">
            @*<MudAvatar Image="@report.Avatar" Class="mud-elevation-25" />*@
            <div class="ml-6">
                <MudText Typo="Typo.subtitle2">@report.Name</MudText>
                <MudText Typo="Typo.body2">@report.Title</MudText>
            </div>
        </div>
    </td>
    <td><MudChip Label="true" Color="@report.Severity" Size="Size.Small" Class="ml-auto mud-elevation-25">@report.SeverityTitle</MudChip></td>
    <td><MudText>@report.Salary</MudText></td>
</tr>}
                    </tbody>
                </MudSimpleTable>
            </MudCardContent>
        </MudCard>
    </MudItem>

    @*
        <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-4">@stxtInput</MudText>

        <input @bind-value="MyValue" @bind-value:event="oninput" @onkeyup="DoTheThing" />
    *@

    @*
        <MudItem xs="12" sm="12" md="6">
            <MudCard Elevation="25" Style="height:100%;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Earning Report</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="px-0">
                    <MudSimpleTable Elevation="0" Hover="true">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Priority</th>
                                <th>Earnings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var report in earningReports.OrderBy(x => x.Name))
                            {
                            <tr>
                                <td>
                                    <div class="d-flex flex-row">
                                        <MudAvatar Image="@report.Avatar" Class="mud-elevation-25" />
                                        <div class="ml-6">
                                            <MudText Typo="Typo.subtitle2">@report.Name</MudText>
                                            <MudText Typo="Typo.body2">@report.Title</MudText>
                                        </div>
                                    </div>
                                </td>
                                <td><MudChip Label="true" Color="@report.Severity" Size="Size.Small" Class="ml-auto mud-elevation-25">@report.SeverityTitle</MudChip></td>
                                <td><MudText>@report.Salary</MudText></td>
                            </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="6">
            <MudCard Elevation="25" Style="height:100%;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Recent incidents</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="px-0">
                    <MudList Clickable="true">
                        <MudListItem>
                            <div class="d-flex flex-row">
                                <MudAvatar Class="mud-elevation-25">
                                    <MudIcon Icon="@Icons.Custom.Brands.GitHub" Class="mx-4" />
                                </MudAvatar>
                                <div class="ml-6">
                                    <MudText Typo="Typo.subtitle2">Issues rising</MudText>
                                    <MudText Typo="Typo.body2">Issues is almost reaching 100</MudText>
                                </div>
                                <MudChip Label="true" Color="Color.Error" Size="Size.Small" Class="ml-auto mud-elevation-25">Danger</MudChip>
                            </div>
                        </MudListItem>
                        <MudListItem>
                            <div class="d-flex flex-row">
                                <MudAvatar Class="mud-elevation-25">
                                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Class="mx-4" />
                                </MudAvatar>
                                <div class="ml-6">
                                    <MudText Typo="Typo.subtitle2">Incident in plant number 4</MudText>
                                    <MudText Typo="Typo.body2">Fire in reactor core</MudText>
                                </div>
                                <MudChip Label="true" Color="Color.Info" Size="Size.Small" Class="ml-auto mud-elevation-25">Minor</MudChip>
                            </div>
                        </MudListItem>
                        <MudListItem>
                            <div class="d-flex flex-row">
                                <MudAvatar Class="mud-elevation-25">
                                    <MudIcon Icon="@Icons.Material.Filled.Person" Class="mx-4" />
                                </MudAvatar>
                                <div class="ml-6">
                                    <MudText Typo="Typo.subtitle2">Occupational injury</MudText>
                                    <MudText Typo="Typo.body2">Employee broke a finger while writing some code</MudText>
                                </div>
                                <MudChip Label="true" Color="Color.Success" Size="Size.Small" Class="ml-auto mud-elevation-25">Dismissed</MudChip>
                            </div>
                        </MudListItem>
                    </MudList>
                </MudCardContent>
            </MudCard>
        </MudItem>
    *@
</MudGrid>

@code {

    EarningReport[] earningReports = new EarningReport[]
    {
        new EarningReport { Name = "SRM01", Title = "Disconnect", Avatar = "https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4", Salary = "10:01", Severity = Color.Error, SeverityTitle = "High"},
        new EarningReport { Name = "RGV01", Title = "Disconnect", Avatar = "https://avatars.githubusercontent.com/u/16208742?s=120&v=4", Salary = "10:02", Severity = Color.Error, SeverityTitle = "High"},
        new EarningReport { Name = "CVY01", Title = "Barcode not found", Avatar = "https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4", Salary = "10:05", Severity = Color.Warning, SeverityTitle = "Medium"},
        new EarningReport { Name = "CVY02", Title = "Sensor not found", Avatar = "https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4", Salary = "10:10", Severity = Color.Warning, SeverityTitle = "Medium"},
        new EarningReport { Name = "SRM02", Title = "Distance error", Avatar = "https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4", Salary = "10:10", Severity = Color.Error, SeverityTitle = "High"},
        new EarningReport { Name = "SRM03", Title = "Limit X error", Avatar = "https://avatars2.githubusercontent.com/u/10367109?s=460&amp;u=2abf95f9e01132e8e2915def42895ffe99c5d2c6&amp;v=4", Salary = "10:10", Severity = Color.Error, SeverityTitle = "High"},
    };

    class EarningReport
    {
        public string Avatar;
        public string Name;
        public string Title;
        public Color Severity;
        public string SeverityTitle;
        public string Salary;
    }

    private int Index1 = -1; //default value cannot be 0 -> first selectedindex is 0.
    int dataSize1 = 2;
    double[] data1 = { 90, 10 };
    string[] labels1 = { "Use", "Empty" };

    private int Index2 = -1; //default value cannot be 0 -> first selectedindex is 0.
    int dataSize2 = 2;
    double[] data2 = { 80, 10 };
    string[] labels2 = { "Use", "Empty" };
    string[] xlabels2 = { "80", "100" };

    private int Index3 = -1; //default value cannot be 0 -> first selectedindex is 0.
    int dataSize3 = 2;
    double[] data3 = { 50, 10 };
    string[] labels3 = { "Use", "Empty" };

    private ChartOptions _lineChartOptions = new ChartOptions
    {
        DisableLegend = true

    };


    private void setstr(string str)
    {
        if (str.Length == 10)
        {
            string sbstr;
            sbstr = str.Substring(0, 1);

            switch (sbstr)
            {
                case "A":
                    stxtInput = "A : " + str.Substring(1, 9);
                    break;
                case "B":
                    stxtInput = "B : " + str.Substring(1, 9);
                    break;
                case "C":
                    stxtInput = "C : " + str.Substring(1, 9);
                    break;
                default:
                    stxtInput = str;
                    break;
            }
        }

    }

    private string stxtInput { get; set; }
    public string MyValue { get; set; }
    private void DoTheThing(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")        // fire on enter 
        {
            //Console.WriteLine("Done the thing: " + MyValue);
            //stxtInput = MyValue;
            setstr(MyValue);

            MyValue = "";
        }
    }

}