@page "/3/3_4"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using GoWMS.Server.Models.Inv
@using System.Text.Json
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject InvService ObjService
@inject IDialogService DialogService
@inject PublicFunServices ObjFunService


@inject WgcService ObjErpService
@inject ISnackbar Snackbar
@inject ErpApiService ObjApiService
@inject UserServices OpjUserService
@inject ReportService UserlogService
@inject IStringLocalizer<OubUnplaned> L
@attribute [Authorize]


@if (Elements == null)
{
    // <p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{

    @if (StkGroup)
    {
        <MudText Typo="Typo.h6" Color="Color.Primary">@pageheader</MudText>

        <MudAppBar Color="Color.Transparent" Fixed="false" Dense="true">
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Done"
                       Color="Color.Primary"
                       OnClick=@OnButtonOrderSelected>@L["START"]</MudButton>
                    <MudSpacer />
                </MudAppBar>

                <MudTable Items="@Elements"
                          FixedHeader="@fixed_header"
                          FixedFooter="@fixed_footer"
                          Height="@(fixed_header || fixed_footer ?"500px":"")"
                          MultiSelection="true"
                          Dense="@dense"
                          Hover="@hover"
                          Bordered="@bordered"
                          Striped="@striped"
                          Filter="new Func<Inv_Stock_GoInfo,bool>(FilterFunc)"
                          @bind-SelectedItems="selectedItems">
                    <ToolBarContent>
                        <MudToolBarSpacer />
                        <MudTextField @bind-Value="searchString"
                                      Placeholder=@L["Search"]
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>

                    <HeaderContent>
                        <MudTh>@L["ItemCode"]</MudTh>
                        <MudTh>@L["ItemName"]</MudTh>
                        <MudTh>@L["Stock"]</MudTh>
                        <MudTh>@L["SEQ"]</MudTh>
                        <MudTh>@L["PalletGo"]</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel=@L["ItemCode"]>@context.Itemcode</MudTd>
                        <MudTd DataLabel=@L["ItemName"]>@context.Itemname</MudTd>
                        <MudTd DataLabel=@L["Stock"]>@string.Format(VarGlobals.FormatN0, context.Quantity)</MudTd>
                        <MudTd DataLabel=@L["SEQ"]>@context.Pallettag</MudTd>
                        <MudTd DataLabel=@L["PalletGo"]>@context.Pallteno</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />
                    </PagerContent>
                </MudTable>
            }
            else
            {

            }

    <MudMessageBox @ref="mbox" Title="@mboxheader" CancelText="Cancel">
        <MessageContent>
            @foreach (var item in References)
            {
                <br />
                @item
            }
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DataSaverOn">Confirm!</MudButton>
        </YesButton>
    </MudMessageBox>
}

@code {

    MudMessageBox mbox { get; set; }

    private bool _dense = false;
    private bool _multiSelect = true;
    public string mPagedesc { get; set; } = "3.4.Unplanned";
    private string mPagename { get; set; } = "/3/3_4";

    private string pageheader = "3.4.Unplanned";
    private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private Inv_Stock_GoInfo selectedItem = null;
    private HashSet<Inv_Stock_GoInfo> selectedItems = new HashSet<Inv_Stock_GoInfo>();
    private IEnumerable<Inv_Stock_GoInfo> Elements = new List<Inv_Stock_GoInfo>();

    string state = "Message box hasn't been opened yet";

    string mboxheader { get; set; } = "รายการที่ขอเบิก";
    string mboxcontent { get; set; } = "";
    string mboxmessage { get; set; } = "";

    public int elevation = 0;
    private ResultReturn resultReturn = null;

    public bool StkGroup { get; set; }

    protected List<string> References { get; set; } = new List<string>();

    string sUsername { get; set; } = "";
    string sRole { get; set; } = "";
    string sGroupID { get; set; } = "";
    string sUserID { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        InvService objCS = new InvService();

        //////// Intial Menu and Privilege//////
        resultReturn = await Task.Run(() => OpjUserService.InsertMenu(mPagename, mPagedesc));
        resultReturn = await Task.Run(() => OpjUserService.InsertPrivilege(mPagename));
        ////////////////////////////////////////
        ///
        await GetUserAthu();
        this.InsertAuditrial("View", pageheader);

        Elements = await Task.Run(() => objCS.GetStockListInfo());

        this.OnSelectChange();
    }

    async Task GetUserAthu()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        sGroupID = user.Claims.FirstOrDefault(
        c => c.Type == ClaimTypes.Role)?.Value;

        sUserID = user.Claims.FirstOrDefault(
            c => c.Type == ClaimTypes.Actor)?.Value;
    }

    private void InsertAuditrial(String actdesc, String munname)
    {
        bool bRet = UserlogService.InsertAudittrial(actdesc, munname, long.Parse(sUserID));
    }

    protected void OnSelectChange()
    {
        StkGroup = !StkGroup;

    }



    private bool FilterFunc(Inv_Stock_GoInfo element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Itemcode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Pallteno.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Pallettag.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Itemname} {element.Storagebin}".Contains(searchString))
            return true;
        return false;
    }

    private bool FilterFunc_(InvStockSum element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Item_code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Item_name} ".Contains(searchString))
            return true;
        return false;
    }

    async Task SelectOrder()
    {
        var result = selectedItems.GroupBy(t => t.Itemcode)
                   .Select(t => new
                   {
                       Itemcode = t.Key,
                       Qty = t.Sum(ta => ta.Quantity),
                   }).ToList();

        System.Text.StringBuilder strPopup = new System.Text.StringBuilder();
        Int16 i = 0;

        foreach (var rec in result)
        {
            i++;
            strPopup.Append(i.ToString() + ". รายการ : ");
            strPopup.Append(rec.Itemcode.ToString());
            strPopup.Append(" จำนวน : ");
            strPopup.AppendLine(rec.Qty.ToString());
        }

        System.Text.StringBuilder popup = new System.Text.StringBuilder();
        popup.AppendLine("รายการที่ขอเบิก");
        popup.Append(strPopup.ToString());

        string sContentText = popup.ToString();

        var parameters = new DialogParameters();
        parameters.Add("ContentText", sContentText);
        parameters.Add("ButtonText", "Yes");
        parameters.Add("Color", Color.Success);

        var formModal = DialogService.Show<DialogTemplateExample_Dialog>("Confirm", parameters);

        var resultModal = await Task.Run(() => formModal.Result);

        var formModal1 = await Task.Run(() => DialogService.ShowMessageBox("AA", "XX"));

    }

    private async void OnButtonOrderSelected()
    {
        var resultlist = selectedItems.GroupBy(t => t.Itemcode)
                 .Select(t => new
                 {
                     Itemcode = t.Key,
                     Qty = t.Sum(ta => ta.Quantity),
                 }).ToList();

        System.Text.StringBuilder strPopup = new System.Text.StringBuilder();
        Int16 i = 0;
        mboxcontent = "";

        References.Clear();

        if (resultlist.Count > 0)
        {
            foreach (var rec in resultlist)
            {
                i++;
                strPopup.Clear();
                strPopup.Append(i.ToString() + ". รายการ : ");
                strPopup.Append(rec.Itemcode.ToString());
                strPopup.Append(" จำนวน : ");
                strPopup.AppendLine(rec.Qty.ToString());

                References.Add(strPopup.ToString());
            }
            bool? result = await mbox.Show();
            state = result == null ? "Cancelled" : "Confirmed";

            if (state == "Confirmed")
            {
                SelectOrderPick();
            }

            this.StateHasChanged();
        }

    }

    private void SelectOrderPick()
    {
        var serializeOptions = new JsonSerializerOptions
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
            WriteIndented = true
        };

        string cus = "MANUAL";
        //string so = "MO-" + DateTime.Now.ToString("yyMMddHHmmssffff");
        string so = "MO-" + ObjFunService.GetRunning("sq002", 4);

        string lot = "-";
        string batch = "-";
        DateTime requestdate = DateTime.Today.Date;

        var strRES = selectedItems.OrderBy(x => x.Pallettag).Select(x => new { efidx = x.Efidx, quantity = x.Quantity, packageid = x.Pallettag, materialcode = x.Itemcode, palletno = x.Pallteno, sono = so, customer = cus, lotno = lot, batchno = batch, matematerialdescription = x.Itemname, unit = x.Unit, deliverydate = requestdate }).ToList();

        //var strLON = selectedItems.OrderBy(x => x.SEQ_NO).Select(x => new { SEQ_NO = x.SEQ_NO, SO_NO = x.SO_NO, DN_SEQ = x.DN_SEQ, ITEM_CODE = x.ITEM_CODE, PALLET_GO = x.PALLET_GO, DN_QTY = x.DN_QTY }).ToList();

        //var jsonLON = JsonSerializer.Serialize(strLON, serializeOptions);

        var jsonRES = JsonSerializer.Serialize(strRES, serializeOptions);

        var iReturn = 0;
        var sReturn = "Call";

        ObjApiService.SetPickWgcmanual(jsonRES, ref iReturn, ref sReturn);

        if (selectedItems.Count > 0)
        {
            if (iReturn == 0)
            {
                Snackbar.Add(sReturn, Severity.Error);
            }
            else
            {
                RefreshData();

                Snackbar.Add("Order picking created", Severity.Success);

            }
        }
        else
        {
            Snackbar.Add("Please select order picking", Severity.Warning);
        }
    }

    private async Task RefreshData()
    {
        Elements = await ObjService.GetStockListInfo();
        selectedItems = null;
    }






}
