@page "/wgc-packeing"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using GoWMS.Server.Models.Wgc

@inject WgcService ObjErpService

@if (Elements == null)
{
    // <p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudText Typo="Typo.h6" Color="Color.Primary"> @mPageHeader </MudText>
    <MudTable Items="@Elements" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"600px":"")" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<PACKETINGS,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileDownload" Style="background-color: mediumseagreen; color: white; width: 80px; height: 30px;">
                Excel
            </MudButton>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileDownload" Style="background-color: orangered; color: white; width: 80px; height: 30px;">
                PDF
            </MudButton>
            <MudToolBarSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh>PACKETING_CODE</MudTh>
            <MudTh>PACKETING_NAME</MudTh>
            <MudTh>PACKAGE_TPYE</MudTh>
            <MudTh>PACKAGE_WEIGHT</MudTh>
            <MudTh>ITEM_CODE</MudTh>
            <MudTh>ITEM_UM</MudTh>

        </HeaderContent>
        <RowTemplate>

            <MudTd DataLabel="Material">@context.PACKETING_CODE</MudTd>
            <MudTd DataLabel="Description">@context.PACKETING_NAME</MudTd>
            <MudTd DataLabel="Customer">@context.PACKAGE_TPYE</MudTd>
            <MudTd DataLabel="CustomerDescription">@context.PACKAGE_WEIGHT</MudTd>
            <MudTd DataLabel="CustomerDescription">@context.ITEM_CODE</MudTd>
            <MudTd DataLabel="CustomerDescription">@context.ITEM_UM</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />

        </PagerContent>
    </MudTable>
}

@code {
    private string mPageHeader = "Packeing";
    private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private PACKETINGS selectedItem = null;
    private HashSet<PACKETINGS> selectedItems = new HashSet<PACKETINGS>();
    private IEnumerable<PACKETINGS> Elements = new List<PACKETINGS>();

    public int elevation = 0;

    protected override async Task OnInitializedAsync()
    {
        WgcService objCS = new WgcService();
        //Elements = await Task.Run(() => objCS.GetReceivingOrdersbypallet(mPalletcode));
        Elements = await Task.Run(() => objCS.GetAllApiPackeingWgc());
    }


    private bool FilterFunc(PACKETINGS element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.PACKETING_CODE.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.PACKETING_NAME.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.ITEM_CODE} {element.ITEM_UM}  {element.PACKAGE_TPYE} ".Contains(searchString))
            return true;
        return false;
    }

}
