@page "/wgc-deliverynote"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using GoWMS.Server.Models.Wgc

@inject WgcService ObjErpService

@if (Elements == null)
{
    // <p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudText Typo="Typo.h6" Color="Color.Primary"> @mPageHeader </MudText>
    <MudTable Items="@Elements" 
    FixedHeader="@fixed_header" 
    FixedFooter="@fixed_footer" 
    Height="@(fixed_header || fixed_footer ?"600px":"")" 
    Dense="@dense" 
    Hover="@hover" 
    Bordered="@bordered" 
    Striped="@striped" 
    HorizontalScrollbar="true"
    Filter="new Func<DELIVERY_NOTE_ITEMS,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileDownload" Style="background-color: mediumseagreen; color: white; width: 80px; height: 30px;">
                Excel
            </MudButton>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.FileDownload" Style="background-color: orangered; color: white; width: 80px; height: 30px;">
                PDF
            </MudButton>
            <MudToolBarSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh>SEQ_NO</MudTh>
            <MudTh>DN_NO</MudTh>
            <MudTh>DN_DATE</MudTh>
            <MudTh>ITEM_CODE</MudTh>
            <MudTh>ITEM_NAME</MudTh>
            <MudTh>DN_QTY</MudTh>
            <MudTh>DN_UM</MudTh>
            <MudTh>CUSTOMER_CODE</MudTh>
            <MudTh>PACKETING_CODE</MudTh>
            <MudTh>LOT_NO</MudTh>
            <MudTh>CUSTOMER_ITEM</MudTh>
            <MudTh>STICKER_CODE</MudTh>
            <MudTh>SCREEN_CODE</MudTh>
            <MudTh>SUBCUSTOMER_CODE</MudTh>
            <MudTh>PALLET_GO</MudTh>
            <MudTh>STATUS_GO</MudTh>
            <MudTh>CREATED_DATE</MudTh>
            <MudTh>UPDATE_DATE</MudTh>
            <MudTh>REMARK</MudTh>
            <MudTh>REMARK INV</MudTh>
            <MudTh>STATUS</MudTh>
        </HeaderContent>
        <RowTemplate>

            <MudTd DataLabel="SEQ_NO">@context.SEQ_NO</MudTd>
            <MudTd DataLabel="DN_NO">@context.DN_NO</MudTd>
            <MudTd DataLabel="DN_DATE">@context.DN_DATE</MudTd>
            <MudTd DataLabel="ITEM_CODE">@context.ITEM_CODE</MudTd>
            <MudTd DataLabel="ITEM_NAME">@context.ITEM_NAME</MudTd>
            <MudTd DataLabel="DN_QTY">@context.DN_QTY</MudTd>
            <MudTd DataLabel="DN_UM">@context.DN_UM</MudTd>
            <MudTd DataLabel="CUSTOMER_CODE">@context.CUSTOMER_CODE</MudTd>
            <MudTd DataLabel="PACKETING_CODE">@context.PACKETING_CODE</MudTd>
            <MudTd DataLabel="LOT_NO">@context.LOT_NO</MudTd>
            <MudTd DataLabel="CUST_ITEM_CODE">@context.CUST_ITEM_CODE</MudTd>
            <MudTd DataLabel="STICKER_CODE">@context.STICKER_CODE</MudTd>
            <MudTd DataLabel="SCREEN_CODE">@context.SCREEN_CODE</MudTd>
            <MudTd DataLabel="SUB_CUSTOMER_CODE">@context.SUB_CUSTOMER_CODE</MudTd>
            <MudTd DataLabel="PALLET_GO">@context.PALLET_GO</MudTd>
            <MudTd DataLabel="STATUS_GO">@context.STATUS_GO</MudTd>
            <MudTd DataLabel="CREATED_DATE">@context.CREATED_DATE</MudTd>
            <MudTd DataLabel="UPDATE_DATE_GO">@context.UPDATE_DATE_GO</MudTd>
            <MudTd DataLabel="REMARK">@context.REMARKS</MudTd>
            <MudTd DataLabel="REMARK INV">@context.REMARKS_INV</MudTd>
            <MudTd DataLabel="STATUS">@context.STATUS</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />

        </PagerContent>
    </MudTable>
}

@code {
    private string mPageHeader = "Delivery Note";
    private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private DELIVERY_NOTE_ITEMS selectedItem = null;
    private HashSet<DELIVERY_NOTE_ITEMS> selectedItems = new HashSet<DELIVERY_NOTE_ITEMS>();
    private IEnumerable<DELIVERY_NOTE_ITEMS> Elements = new List<DELIVERY_NOTE_ITEMS>();

    public int elevation = 0;

    protected override async Task OnInitializedAsync()
    {
        WgcService objCS = new WgcService();
        //Elements = await Task.Run(() => objCS.GetReceivingOrdersbypallet(mPalletcode));
        Elements = await Task.Run(() => objCS.GetAllApiDeliverynoteWgc());
    }


    private bool FilterFunc(DELIVERY_NOTE_ITEMS element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.PALLET_GO.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.DN_NO.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.ITEM_CODE} {element.SEQ_NO} {element.JOB_NO}".Contains(searchString))
            return true;
        return false;
    }

}
